.keyboard-panel {
    background-color: #bbb;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;

    @media (max-width: $sm-screen) {
        width: 70%;
    }
    
    @media (max-width: $exsm-screen) {
        width: 90%;
    }
}
  
.keyboard-row {
    display: flex;
}