.screen {
    background-color: $dark-grey;
    margin-top: 2rem;
    padding: 1rem 0;
    height: 50%;
    display: flex;
    border-radius: 1%;
    transform: perspective(900px) rotateX(10deg);

    
    @media (max-width: $md-screen) {
        transform: none
    }

    &__left-panel,
    &__right-panel {
        background-color: $dark-grey;
        flex-basis: 10%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        @media (max-width: $sm-screen) {
            padding: 0 .25rem;
        }
    }

    &__middle-panel {
        background: linear-gradient(to top, #102fa1, #1133ad, #082282);
        flex-basis: 80%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        position: relative;

        &__keyboardValue {
            position: absolute;
            max-width: 28rem;
            top:35%;
            left: calc(50% - 14rem);
            text-align: center;
            display: flex;
            flex-direction: column;

            @media (max-width: $sm-screen) {
                max-width: 18rem;
                left: calc(50% - 9rem);
                font-size: .875rem;
            }

            @media (max-width: $exsm-screen) {
                max-width: 13rem;
                left: calc(50% - 6.5rem);
                font-size: .875rem;
            }

            span {
                margin: .5rem 0;
            }

            .green, .red, .yellow {
                background-color: green;
                color: #fff;
                padding: 1px 2px;
                border: 1px solid #fff;
                border-radius: 4px;
            }

            .red {
                background-color: red;
            }

            .yellow {
                background-color: yellow;
                color: #000;
                border-color: #000;
            }

            .value {
                margin-top: 1rem;
                font-size: large;
            
                &__inner {
                    letter-spacing: 1px;
                    font-weight: 600;
                }
            }
        }

        &__loading {
            position: absolute;
            width: 6rem;
            top: 50%;
            left: calc(50% - 3rem);

            &::after {
                content: "Processing";
                animation: ellipsis 1s infinite steps(1);
            }
        }

        &__error {
            position: absolute;
            width: 20rem;
            top: 50%;
            left: calc(50% - 10rem);
            display: flex;
            align-items: center;

            svg {
                animation: blinkOpacity 1s infinite;
            }

            span {
                margin-left: .5rem;
                font-weight: 600;
            }
        }

        &__option {
            flex-basis: 50%;
            height: 25%;

            &__label {
                min-width: 15rem;
                min-height: 3rem;
                border-radius: 1.5rem;
                border: 2px solid #fff;
                color: #fff;

                &__readOnly {
                    border: none;
                    border-radius: 0;
                    text-align: center;
                }

                @media (max-width: $sm-screen) {
                    min-width: 9rem;
                }

                
                @media (max-width: $exsm-screen) {
                    min-width: 7.5rem;
                }
            }

            @media (max-width: $sm-screen) {
                font-size: .875rem;
            }

            @media (max-width: $exsm-screen) {
                font-size: .75rem;
            }
        }
    }
}

@keyframes blinkOpacity {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
}

@keyframes ellipsis {
    0%, 20% {
      content: "Processing";
    }
    40% {
      content: "Processing.";
    }
    60% {
      content: "Processing..";
    }
    80%, 100% {
      content: "Processing...";
    }
}